<div class="container">
  <div class="row">
    <div
      class="
        col-xs-12 col-sm-10 col-md-5 col-sm-offset-1 col-md-offset-2
        row__content
      "
    >
      <div class="spinner" *ngIf="isValidating" class="spinner">
        <app-loading-spinner></app-loading-spinner>
      </div>

      <form (ngSubmit)="onSubmit(f)" #f="ngForm" *ngIf="!isValidating">
        <div class="heading"><h2 class="highlight">Login Portal</h2></div>

        <div class="form-group">
          <label for="username">Username</label>
          <input
            type="text"
            class="form-control"
            name="username"
            placeholder="Enter username"
            ngModel
            required
            #username="ngModel"
          />
          <span *ngIf="username.touched && !username.valid" style="color: red"
            >Please enter username</span
          >
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            placeholder="Password"
            name="password"
            ngModel
            required
            #password="ngModel"
          />
          <span *ngIf="!password.valid && password.touched" style="color: red"
            >Please enter password</span
          >
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!f.valid">
          Login &rarr;
        </button>
      </form>

      <app-alert
        [message]="error"
        *ngIf="error"
        (close)="handleError()"
      ></app-alert>
    </div>
  </div>
</div>
